@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../variables.scss';

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topslider {
  background-color: $blue;
  color: $white;
  padding-top: 50px;
  text-align: center;
}

.botslider {
  background-color: $botslider;
  color: $white;
  padding-top: 50px;
  text-align: center;
}

.sawasdee {
  font-size: 2.5em;
  font-weight: normal;
}

.content {
  flex: 1;
  margin: 10px 50px;
}

/**
 * Responsive text
 */

@media screen and (max-width: 992px) {
  p, .btn, .btn_1, input, div, span, h4, sup {
    font-size: 99% !important;
  }
  h1 {
    font-size: 34px !important;
  }
  h2 {
    font-size: 32px !important;
  }
  h3 {
    font-size: 28px !important;
  }
  input, .btn, .btn_1 {
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
  }
  select {
    height: 34px !important;
    line-height: 34px !important;
  }
}
@media screen and (max-width: 768px) {
  p, .btn, .btn_1, input, div, span, h4, sup {
    font-size: 97% !important;
  }
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 26px !important;
  }
  input, .btn, .btn_1 {
    height: 30px !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
  }
  select {
    height: 30px !important;
    line-height: 30px !important;
  }
}
